html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  min-width: 320px;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  height: 100%;
}
main {
  flex-grow: 1;
}
:first-child {
  margin-top: 0;
}

// Little workaround for sticky header and smooth scroll
section[id]::before {
  content: '';
  display: block;
  height: calc(60px + 20px); // Sticky header's height + small margin
  margin: calc(-60px - 20px) 0 0; // Postion the element on it's place
  @media ($mdUp) {
    height: calc(80px + #{$md}); // Sticky header's height + small margin
    margin: calc(-80px - #{$md}) 0 0; // Postion the element on it's place
  }
}

@import 'header';
@import 'footer';
@import 'main';
