.b-intro {
  &__inner {
    position: relative;
    flex: 1 1 100%;
  }
  &__content {
    & > :last-child {
      margin-bottom: 0;
    }
  }

  // RWD
  @media ($mdDown) {
    &__inner {
      height: 270px;
      background-image: url('/intro-jack_w_640.jpg');
      background-position: 100% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: $colorPrimaryLight;
      margin: 0 -15px;
    }
    &__content {
      text-align: center;
      padding-top: 20px;
      margin-bottom: 30px;
    }
  }
  @media ($mdUp) {
    display: flex;
    align-items: center;
    min-height: 380px;
    background-image: none;
    background-image: url('/intro-jack_w_1920.jpg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $colorPrimaryLight;
    .row-main {
      flex: 1 1 100%;
    }
    &__content {
      max-width: 50%;
    }
  }
}
