.c-list {
  & > :last-child {
    margin-bottom: 0;
  }
  &__item > * {
    display: block;
  }
  &__icon {
    text-align: center;
    margin-bottom: $xs;
  }

  // RWD
  @media ($mdDown) {
    & > :last-child {
      border-bottom-width: 0;
    }
    &__icon svg {
      width: 40px;
    }
  }
}
