.s-opening-hours {
  padding: $lg 0;
  background-image: url('/kitty-cat.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
  display: flex;
  align-items: center;
  .row-main {
    flex: 1;
  }

  @media ($mdUp) {
    padding: $xxxl 0;
  }
}
