@use "sass:math";

.inp-fix {
  position: relative;
  display: block;

  // STATEs
  .has-error & {
    color: $colorRed;
  }
  .has-warning & {
    color: $colorOrange;
  }
  .has-ok & {
    color: $colorGreen;
  }
  .inp-label {
    color: #b3bad1;
    margin: 0;
    top: 50%;
    left: 0;
    position: absolute;
    transform: translate(0, -50%);
    font-size: 14px;
    line-height: math.div(17, 14);
    padding: 0 5px;
    transition: all $t;
    cursor: auto;
    width: 100%;
    display: inline-flex;
    span {
      font-size: 12px;
      line-height: math.div(20, 12);
      margin-left: auto;
    }
  }
  .inp-text:not(textarea)::placeholder {
    opacity: 0;
  }
  .inp--btn & .inp-text::placeholder,
  &.inp-icon .inp-text::placeholder {
    opacity: 1;
  }
}
