.inp-select {
	@extend %inp;
	padding-right: 40px;
	background-image: url($svgSelect);
	background-position: top 50% right 15px;
	background-repeat: no-repeat;
	background-size: 12px 8px;
	color: #B3BAD1;
	&::-ms-expand {
		display: none;
	}
	// STATEs
	&:focus {
		color: $colorText;
	}
}
