@use "sass:math";

.inp-text {
  @extend %inp;
  @at-root textarea#{&} {
    height: auto;
  }
  &::placeholder {
    color: #b3bad1;
    font-weight: normal;
  }

  // VARIANTs
  &--sm {
    font-size: 12px;
    line-height: math.div(15, 12);
    padding-top: 10px;
    padding-bottom: 10px;
    & + .inp-label {
      font-size: 12px;
      line-height: math.div(15, 12);
    }
  }
  &--md {
    font-size: 18px;
    padding-top: 16px;
    padding-bottom: 15px;
    & + .inp-label {
      font-size: 18px;
    }
  }

  // STATEs
  &:focus {
    &::placeholder {
      color: #b3bad1;
    }
  }
  // &:not(::placeholder) + .inp-label,
  &:not(:placeholder-shown) + .inp-label,
  &:focus + .inp-label {
    width: auto;
    font-size: 11px;
    line-height: math.div(15, 11);
    top: 0;
    left: 8px;
    color: $colorBd;
    transform: translate(0, -9px);
    padding: 0 10px;
    background: $colorWhite;
    span {
      display: none;
    }
  }
  &:focus + .inp-label {
    color: $colorPrimary;
  }
}
