.m-mobile-menu {
  position: relative;
  box-sizing: content-box;
  padding-right: 40px;
  color: $colorText;
  font-size: 18px;
  font-weight: bold;
  &::before {
    content: attr(data-text);
  }
  @media ($mdDown) {
    &__icon {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      background-color: $colorText;
      transition: transform 0s $t;
    }
    &__icon,
    &__icon::before,
    &__icon::after {
      width: 30px;
      height: 4px;
      background-color: $colorText;
      border-radius: 20px;
    }
    &__icon::before {
      content: '';
      position: absolute;
      bottom: 8px;
      left: 0;
      transition: bottom $t $t cubic-bezier(0.23, 1, 0.32, 1),
        transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }
    &__icon::after {
      content: '';
      position: absolute;
      top: 8px;
      left: 0;
      background-color: $colorText;
      transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1),
        transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    // STATEs
    button[aria-expanded='true'] & {
      &__icon {
        background: transparent;
      }
      &__icon::before {
        bottom: 0;
        transform: rotate(-45deg);
        transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1),
          transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
      }
      &__icon::after {
        top: 0;
        transform: rotate(45deg);
        transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1),
          transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
      }
    }
  }

  @media ($mdUp) {
    display: none;
  }
}
