// Grid
@use "sass:math";

@mixin generateGridSize($breakpoints: $breakpoints, $columns: $gridColumns, $auto: true, $autoGrow: true) {
	@if ($auto) {
		&--auto {
			flex: 0 0 auto;
			width: auto;
			max-width: none;
		}
	}
	@if ($autoGrow) {
		&--autogrow {
			flex: 1 1 auto;
			width: auto;
			max-width: none;
		}
	}
	@for $column from 1 to ($columns + 1) {
		@at-root #{&}--#{$column}-#{$columns} {
			flex-basis: percentage(math.div($column, $columns));
			max-width: percentage(math.div($column, $columns));
		}
	}
	@each $breakpoint, $value in $breakpoints {
		@include mq-checker($breakpoint) {
			@if ($auto) {
				&--auto {
					@include suffix($breakpoint) {
						flex: 0 0 auto;
						width: auto;
						max-width: none;
					}
				}
			}
			@if ($autoGrow) {
				&--autogrow {
					@include suffix($breakpoint) {
						flex: 1 0 auto;
						width: auto;
						max-width: none;
					}
				}
			}
			@for $column from 1 to ($columns + 1) {
				@at-root #{&}--#{$column}-#{$columns} {
					@include suffix($breakpoint) {
						flex-basis: percentage(math.div($column, $columns));
						max-width: percentage(math.div($column, $columns));
					}
				}
			}
		}
	}
}

@mixin generateGridPush($breakpoints: $breakpoints, $columns: $gridColumns) {
	@for $column from 1 to ($columns + 1) {
		@at-root #{&}--#{$column}-#{$columns} {
			left: percentage(math.div($column, $columns));
		}
	}
	@each $breakpoint, $value in $breakpoints {
		@include mq-checker($breakpoint) {
			@for $column from 1 to ($columns + 1) {
				@at-root #{&}--#{$column}-#{$columns} {
					@include suffix($breakpoint) {
						left: percentage(math.div($column, $columns));
					}
				}
			}
		}
	}
}

@mixin generateGridPull($breakpoints: $breakpoints, $columns: $gridColumns) {
	@for $column from 1 to ($columns + 1) {
		@at-root #{&}--#{$column}-#{$columns} {
			left: percentage(math.div(-$column, $columns));
		}
	}
	@each $breakpoint, $value in $breakpoints {
		@include mq-checker($breakpoint) {
			@for $column from 1 to ($columns + 1) {
				@at-root #{&}--#{$column}-#{$columns} {
					@include suffix($breakpoint) {
						left: percentage(math.div(-$column, $columns));
					}
				}
			}
		}
	}
}

@mixin generateGridOrder($breakpoints: $breakpoints, $columns: $gridColumns) {
	@for $column from 1 to ($columns + 1) {
		@at-root #{&}--#{$column} {
			order: $column;
		}
	}
	@each $breakpoint, $value in $breakpoints {
		@include mq-checker($breakpoint) {
			@for $column from 1 to ($columns + 1) {
				@at-root #{&}--#{$column} {
					@include suffix($breakpoint) {
						order: $column;
					}
				}
			}
		}
	}
}

@mixin mq-checker($breakpoint, $type: 'Up') {
	@if (map-has-key($breakpointsVars, $breakpoint + $type)) {
		@media (map-get($breakpointsVars, $breakpoint + $type)) {
			@content;
		}
	} @else {
		@error 'Unfortunately, breakpoint `#{$breakpoint}` is not defined in config.js';
	}
}

// Suffix
@mixin suffix($suffix, $delimiter: '\\@') {
	&#{$delimiter}#{$suffix} {
		@content;
	}
}

// Breakpoints
@mixin generateBreakpoints($breakpoints: $breakpoints) {
	@content;
	@each $breakpoint, $value in $breakpoints {
		@include mq-checker($breakpoint) {
			@include suffix($breakpoint) {
				@content;
			}
		}
	}
}

// Flexbox not supported
@mixin no-flex() {
	.no-flexwrap & {
		@content;
	}
}

// Text Alignment and Transformation classes
@mixin text-truncate() {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@mixin text-hide() {
	font: 0/0 a;
	color: transparent;
	text-decoration: none;
}

// Clearfix
@mixin clearfix() {
	&::before,
	&::after {
		content: '';
		display: table;
	}
	&::after {
		clear: both;
	}
}

@mixin ctx() {
	display: table-cell;
	&::after {
		clear: both;
		display: block;
		visibility: hidden;
		overflow: hidden;
		height: 0;
		line-height: 0;
		font-size: xx-large;
		content: ' x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x ';
	}
}

// Hiding content
@mixin vhide() {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	border: 0;
}

// Triangle
@mixin triangle($direction: 'down', $width: 10px, $height: 10px, $color: currentColor) {
	width: 0;
	height: 0;
	border-style: solid;
	@if ($direction == 'up') {
		border-width: 0 ($width * 0.5) $height ($width * 0.5);
		border-color: transparent transparent $color transparent;
	} @else if ($direction == 'down') {
		border-width: $height ($width * 0.5) 0 ($width * 0.5);
		border-color: $color transparent transparent transparent;
	} @else if ($direction == 'left') {
		border-width: ($height * 0.5) $width ($height * 0.5) 0;
		border-color: transparent $color transparent transparent;
	} @else if ($direction == 'right') {
		border-width: ($height * 0.5) 0 ($height * 0.5) $width;
		border-color: transparent transparent transparent $color;
	} @else if ($direction == 'up-left') {
		border-width: $height $width 0 0;
		border-color: $color transparent transparent transparent;
	} @else if ($direction == 'down-left') {
		border-width: $width 0 0 $height;
		border-color: transparent transparent transparent $color;
	} @else if ($direction == 'up-right') {
		border-width: 0 $width $height 0;
		border-color: transparent $color transparent transparent;
	} @else if ($direction == 'down-right') {
		border-width: 0 0 $height $width;
		border-color: transparent transparent $color transparent;
	}
}

// Fancybox
@function max($numbers...) {
	@return m#{a}x(#{$numbers});
}

@function min($numbers...) {
	@return m#{i}n(#{$numbers});
}
@mixin border($color, $bg) {
	box-shadow: 4px 0 $bg, -4px 0 $bg, 0 (-4px) $bg, 0 4px $bg, 2 * 4px 0 $color, -2 * 4px 0 $color, 0 (-2 * 4px) $color,
		0 2 * 4px $color, 0 0 0 4px $color;
}

@function str-replace($string, $search, $replace: '') {
	$index: str-index($string, $search);

	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace +
			str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}

	@return $string;
}

@function svg($string) {
	@return str-replace($string, '#', '%23');
}

// Line clamp
@mixin lineClamp($lines) {
	@if ($lines == 1) {
		white-space: nowrap;
		text-overflow: ellipsis;
	} @else {
		display: -webkit-box;
		-webkit-line-clamp: #{$lines};
		/* autoprefixer: ignore next */
		-webkit-box-orient: vertical;
	}
	overflow: hidden;
}
